<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Offset Helper</title>
  <link rel="stylesheet" href="./css/app-manifest.css">
</head>
<body>
  <div class="offset-tool-wrapper">
    <div class="offset-tool-header">
        <h1>Offset Tool</h1>
    </div>
    <div class="offset-tool-content">
      <div class="content-header">
        <div class="length-wrapper">
          <label for="length">Length</label>
          <input id="length" type="text">
        </div>
        <div class="offset-wrapper">
          <label for="offset">Offset</label>
          <input id="offset" type="text" disabled>
        </div>
      </div>
      <div class="content-main"></div>
    </div>
  </div>
  <script src="./js/offsetToolService.js"></script>
</body>
</html>