<div class="schema-viewer-wrapper">
  <div class="header">
      <div class="top-bar">
        <div class="navigation"></div>
        <div class="right-action-buttons">
        </div>
      </div>
      <div class="bottom-bar"></div>
    </div>
  </div>
  <div class="content">
    <div class="filter-wrapper">
      <!-- <div class="filter-header">
        <h3>Filters</h3>
      </div> -->
      <div class="filters">
        <div class="filter">
          <label for="field-filter">Field</label>
          <input id="field-filter" type="text" class="filter-input" />
        </div>
        <div class="filter">
          <label for="table-filter">Table</label>
          <input id="table-filter" type="text" class="filter-input" />
        </div>
        <div class="filter">
          <label for="type-filter">Type</label>
          <input id="type-filter" type="text" class="filter-input" />
        </div>
      </div>
      <div class="schema-info">
        <div class="expected-schema-wrapper">
          <div class="schema-version-label">Expected schema:</div>
          <div class="schema-version-wrapper">
            <span class="expected-year"></span>
            <span class="expected-major"></span>.<span class="expected-minor"></span>
          </div>
          <div class="status"></div>
        </div>
        <div class="loaded-schema-wrapper">
          <div class="schema-version-label">Loaded schema:</div>
          <div class="schema-version-wrapper">
            <span class="year"></span>
            <span class="major"></span>.<span class="minor"></span>
          </div>
          <div class="action-button change-schema">Change</div>
        </div>
      </div>
    </div>
    <div class="results-wrapper">
      <div class="headers">
        <div class="field-name">Field name</div>
        <div class="table-name">Table name</div>
        <div class="type-name">Type name</div>
      </div>
      <div class="results"></div>
      <button class="load-more">Load more</button>
    </div>
  </div>
  <div class="underlay hidden"></div>
  <div class="loader-wrapper hidden">
    <div class="loader"></div>
  </div>
</div>