$welcome-link-color: #0066cc;
$welcome-bg-color: #e9e9e9;
$brand-color: $brand-primary;

.app-brand {
  height: 50px;
  background-color: $brand-color;
  margin: -50px -50px 0 -50px;
}

.welcome {
  min-height: 100vh;
  margin: 0 -20px;

  font-family: 'Roboto', sans-serif;
  padding: 40px;
  background-color: $welcome-bg-color;

  h1 {
    margin-top: 0;
    margin-bottom: 15px;
    letter-spacing: 0.05em;
  }

  ul {
    display: inline-block;
    list-style: none;
    margin-top: 0;
    padding-left: 0;
  }

  li {
    + li {
      margin-top: 10px;
    }

    &.hidden {
      + li {
        margin-top: 0;
      }
    }
  }

  .app-title {
    height: 50px;
    background-color: $brand-color;
    margin: -40px -40px 0 -40px;
    padding: 40px 40px 100px 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
  }

  .app-title-left {
    h1 {
      margin-bottom: 0;
      font-size: 28px;

      @media(min-width: $breakpoint-md) {
        font-size: 36px;
      }
    }
    
    .version {
      font-size: 14px;
      font-style: italic;
    }
  }

  .app-title-right {
    .madden-icon {
      // cursor: pointer;
    }

    .madden-icons {
      display: flex;
      height: 43px;
      align-items: center;
    }
  }

  .link-item {
    color: $welcome-link-color;
    cursor: pointer;

    &:hover {
      color: darken($welcome-link-color, 10%);
    }

    &.disabled {
      color: $brand-black;
      cursor: default;

      &:hover {
        color: $brand-black;
      }
    }

    &.unavailable {
      color: #333;
      cursor: default;
      pointer-events: none;

      &:after {
        content: '<- Not yet available for this year';
        margin-left: 15px;
      }
    }
  }

  .file-path {
    color: $brand-black;
  }

  .time {
    color: $brand-black;
    font-style: italic;
    font-size: 14px;
  }

  > div + div {
    margin-top: 50px;
  }
}

.file-item {
  span {
    + span {
      margin-left: 5px;
    }
  }
}

.file-access-time {
  font-style: italic;
}

.reload-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background: $welcome-link-color;
  color: #FFF;
  z-index: 1000;
  transition: transform 300ms ease-in-out;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media(min-width: $breakpoint-md) {
    flex-direction: row;
  }

  .action-buttons {
    margin-top: 15px;
    text-align: right;

    @media(min-width: $breakpoint-md) {
      margin-top: 0;
      flex-basis: 50%;
      align-self: center;
    }

    @media(min-width: $breakpoint-lg) {
      flex-basis: inherit;
    }
  }

  .action-button {
    background: transparent;
    border: none;
    color: #FFF;
    text-transform: uppercase;
    padding: 10px;
    margin: -10px 0;

    &:hover,
    &:focus {
      color: #FFF;
    }

    &:active,
    &:focus {
      outline-color: #FFF;
    }

    + .action-button {
      margin-left: 10px;
    }
  }

  .primary-button {
    background-color: #FFF;
    color: $welcome-link-color;
    border-radius: 4px;

    &:hover,
    &:focus {
      color: $welcome-link-color;
      background-color: darken(#FFF, 5%);
    }

    &:active {
      background-color: darken(#FFF, 15%);
    }

    &:active,
    &:focus {
      outline-color: transparent;
    }
  }
}

.reload-text {
  @media(min-width: $breakpoint-sm) {
    flex-basis: 40%;
  }

  @media(min-width: $breakpoint-md) {
    flex-basis: 50%;
  }

  @media(min-width: $breakpoint-lg) {
    flex-basis: inherit;
  }
}

.reload-wrapper--hidden {
  transform: translateY(90px);
}