.madden-icon {
  background-repeat: no-repeat;
  background-size: contain;
  height: 36px;
  width: 36px;

  +.madden-icon {
    margin-left: 15px;
  }

  &.inactive {
    filter: saturate(0) blur(1px);
  }

  @at-root .top-bar #{&} {
    margin: -10px 0;
  }
}

@for $var from 19 to 23 {
  #m#{$var}-icon {
    background-image: url(../img/M#{$var}.PNG);
  }
}