.modal {
  position: absolute;
  top: 300px;
  left: calc(50% - 300px);
  width: 600px;
  z-index: 104;
  background-color: #F2F2F2;
  padding: 20px;
  border: 1px solid $brand-black;
}

.underlay {
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 103;
}

.modal-header {
  margin: 0 0 20px 0;
  display: flex;
  justify-content: space-between;

  .title {
    margin: 0;
    font-size: 1.33em;
    font-weight: 500;
  }

  .close-modal {
    padding: 20px;
    margin: -20px -20px 0 0;
    cursor: pointer;
  }
}