$modal-bg-color: #F2F2F2;

.modal {
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: 201;
  background-color: $modal-bg-color;
  padding: 20px;
  border: 1px solid $brand-black;
  margin-left: -20px;

  @media (min-width: $breakpoint-md) {
    margin-left: 0;
    left: calc(50% - 300px);
    width: 600px;
  }
}

.underlay {
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
}

.underlay-editor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-header {
  margin: 0 0 20px 0;
  display: flex;
  justify-content: space-between;

  .title {
    margin: 0;
    font-size: 1.33em;
    font-weight: 500;
  }

  .close-modal {
    padding: 20px;
    margin: -20px -20px 0 0;
    cursor: pointer;
  }
}