.schema-manager-wrapper {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.schema-list-wrapper {
  list-style: none;
  padding-inline-start: 0;
}

.schema-list-item {
  padding: 10px;
  border: 1px solid #e6e6e6;

  &:hover {
    cursor: pointer;
    background-color: darken(#fff, 5%)
  }

  &.loaded-schema {
    background-color: #d1d1d1;

    &:hover {
      cursor: default;
      pointer-events: none;
    }
  }

  &.expected-schema {
    &:before {
      content: "✓";
      color: green;
      margin-right: 5px;
    }
  }

  + .schema-list-item {
    margin-top: 5px;
  }
}

.schema-actions {
  margin-top: 33px;

  .action-button {
    + .action-button {
      margin-top: 10px;
    }
  }
}

.schema-search-wrapper {
  margin-top: 10px;

  .search-header {
    margin-bottom: 10px;
  }

  .action-button {
    margin-left: 10px;

    + .action-button {
      margin-top: 10px;
    }
  }
}

.progress-message {
  position: absolute;
  top: calc(50% - 32px);
  left: 2px;
  right: 0;
  text-align: center;
}

.loader--filled-bg {
  background: #FFFFFF;
}