.table-wrapper {
  display: grid;
  grid-template-rows: 40px 80px 1fr;
  // height: 90vh;
  position: absolute;
  top: 80px;
  left: 20px;
  right: 20px;
  bottom: 20px;

  @media (min-width: $breakpoint-md) {
    grid-template-rows: 40px 40px 1fr;
  }
}

.table-content-wrapper {
  // height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Roboto Mono', 'monospace';
}

td.active-row {
  background-color: #f1f1f1;
}

.table-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

  @media (min-width: $breakpoint-md) {
    flex-wrap: nowrap;
    justify-content: inherit;
  }

  .selectr-container {
    order: 2;

    @media (min-width: $breakpoint-md) {
      order: 0;
    }
  }

  .selectr-selected {
    border: 1px solid darkgrey;
  }
}

.toggle-types {
  flex-basis: 105px;
}

.table-action-link {
  margin-left: 25px;
}

.jump-to-column {
  flex-basis: 135px;
}

.header-type {
  font-style: italic;
}

.jump-row {
  margin-right: 10px;
  padding-left: 10px;
}

.back-link {
  flex-basis: 80px;

  &.disabled {
    color: gray;

    &:hover {
      color: gray;
    }
  }
}

.htCore a {
  &:hover {
    color: $brand-link-color;
    text-decoration: underline;
    cursor: pointer;
  }
}

.table-cell--with-button {
  display: flex;
  justify-content: space-between;

  &.table-cell-button--show-on-hover {
    button {
      display: none;
    }
  
    &:hover {
      button {
        display: inherit;
      }
    }
  }
}

.table-cell-button {
  &.table-cell-button--right {
    align-self: center;
    height: 15px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
  }

}

.edit-button {
  background-image: url(../img/table-cell-edit.svg);
  background-size: 15px 15px;
  background-position: center center;
  width: 25px;
  cursor: pointer;

  &:focus {
    outline-color: $welcome-link-color;
  }
}

.spline-editor-wrapper {
  position: absolute;
  top: 175px;
  left: 75px;
  z-index: 104;
  background-color: #fff;
}

.handsontable td.active-row {
  background-color: #f1f1f1;
}

.table-pins-wrapper {
  display: grid;
  grid-template-columns: 20px 95px 1fr;
  margin-top: -5px;
  margin-bottom: 10px;

  .pin-icon {
    background-image: url(../img/pushpin.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 15px;
    height: 15px;
    width: 15px;
  }

  .manage {
    margin-left: 20px;
  }

  .pins-list {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;

    > * + * {
      margin-left: 20px;
    }
  }
}