.table-wrapper {
  display: grid;
  grid-template-rows: 40px 1fr;
  // height: 90vh;
  position: absolute;
  top: 80px;
  left: 20px;
  right: 20px;
  bottom: 20px;
}

.table-content-wrapper {
  // height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Roboto Mono', 'monospace';
}

td.active-row {
  background-color: #f1f1f1;
}

.table-list {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .selectr-selected {
    border: 1px solid $brand-black;
  }
}

.toggle-types {
  flex-basis: 105px;
}

.table-action-link {
  margin-left: 25px;
}

.jump-to-column {
  flex-basis: 135px;
}

.header-type {
  font-style: italic;
}

.jump-row {
  margin-right: 10px;
  padding-left: 10px;
}

.back-link {
  flex-basis: 80px;

  &.disabled {
    color: gray;

    &:hover {
      color: gray;
    }
  }
}

.htCore a {
  &:hover {
    color: $brand-link-color;
    text-decoration: underline;
    cursor: pointer;
  } 
}